<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-----------------------------------------
      Engineers: New CSS import
      ------------------------------------------>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/acs-styles.css" />
  </head>

  <body class="acs-body">
    <main>
      <header class="acs-header">
        <!-----------------------------------------
          Engineers: 
          - I have only commented this block out to test what the logo looks like.
          - The 'src' will need to be re-instated.

        <img
          src="{{ asset(Settings('logo')) }} "
          alt="ACS Logo"
          class="acs-logo"
          width="107px"
          height="107px"
        />
        ------------------------------------------>
        <img
          src="./assets/logo.png "
          alt="ACS Logo"
          class="acs-logo"
          width="107px"
          height="107px"
        />
      </header>
      <section class="acs-container">
        <div class="acs-title-wrapper">
          <h1 class="acs-display-1">
            Please Register with ACS to access our courses
          </h1>
        </div>
        <form
          class="acs-form"
          action="{{ route('register') }}"
          method="POST"
          id="regForm"
        >
          @csrf
          <div class="row">
            <input type="hidden" name="status" value="1" />
            <div class="col-12 col-sm-6 pb-4">
              <label class="acs-label-1"
                >First Name <span class="text-red">*</span></label
              >
              <div class="acs-input-wrapper">
                <!--  <i class="fa-solid fa-user"></i> -->
                <input
                  class="acs-input"
                  id="first_name"
                  type="text"
                  name="name"
                  placeholder="Enter Your First Name"
                  required
                />
              </div>
            </div>
            <div class="col-12 col-sm-6 pb-4">
              <label class="acs-label-1"
                >Last Name <span class="text-red">*</span></label
              >
              <div class="acs-input-wrapper">
                <!-- <i class="fa-solid fa-user"></i> -->
                <input
                  class="acs-input"
                  id="last_name"
                  type="text"
                  name="last_name"
                  placeholder="Enter Your Last Name"
                  required
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-sm-6 pb-4">
              <label class="acs-label-1"
                >Email Address <span class="text-red">*</span></label
              >
              <div class="acs-input-wrapper">
                <!--  <i class="fas fa-envelope"></i> -->
                <input
                  class="acs-input"
                  id="email"
                  type="email"
                  name="email"
                  placeholder="Enter Your Email"
                  required
                />
              </div>
            </div>
            <div class="col-12 col-sm-6 pb-4">
              <label class="acs-label-1"
                >Password <span class="text-red">*</span></label
              >
              <!-- <i class="fa-solid fa-key"></i> -->
              <div class="acs-input-wrapper">
                <input
                  class="acs-input pe-5"
                  id="password"
                  type="password"
                  name="password"
                  placeholder="Enter Your Password"
                  required
                  oninput="validatePassword()"
                />
                <i
                  class="fa-solid fas fa-eye position-absolute top-50 translate-middle-y end-0 me-3 cursor-pointer"
                  onclick="togglePassword()"
                ></i>
              </div>
              <div
                class="acs-validation-message"
                style="display: none"
                id="passwordErrorWrapper"
              >
                <small class="text-danger" id="passwordError"></small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-sm-6 pb-4">
              <label class="acs-label-1"
                >Birth Year <span class="text-red">*</span></label
              >
              <div class="acs-input-wrapper">
                <!-- <i class="fas fa-birthday-cake"></i> -->
                <select
                  placeholder="Select Birth Year"
                  class="acs-select"
                  name="birth"
                  id="birth"
                  {{
                  $custom_field-
                >
                  required_gender ? 'selected' : '' }}>

                  <?php $currentYear = date('Y') - 10; // Get the current year
                                      $startYear = $currentYear - 50; // 65 years back
                                      for ($year = $currentYear; $year >=
                  $startYear; $year--) { echo "
                  <option class="years_select" value="$year">$year</option>
                  "; } ?>
                </select>
                <span
                  id="birth_eroor"
                  class="error_select"
                  style="color: red"
                ></span>
              </div>
            </div>
            <div class="col-12 col-sm-6 pb-4">
              <label class="acs-label-1"
                >Gender <span class="text-red">*</span></label
              >
              <div class="acs-input-wrapper">
                <!-- <i class="fas fa-birthday-cake"></i> -->
                <select class="acs-select" name="gender" id="gender">
                  <!--  <option value="" disabled selected>Select Your Gender</option> -->
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                  <option value="Prefer not to say">Prefer not to say</option>
                </select>
                <span
                  id="gender_error"
                  class="error_select"
                  style="color: red"
                ></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-sm-6 pb-4">
              <label class="acs-label-1"
                >Employment Status <span class="text-red">*</span></label
              >
              <div class="acs-input-wrapper">
                <!-- <i class="fas fa-birthday-cake"></i> -->
                <select
                  class="acs-select"
                  name="employment_status"
                  id="employment_status"
                >
                  <!--  <option value="" disabled selected>Select Employment Status</option> -->
                  <option value="employed">Employed</option>
                  <option value="unemployed">Unemployed</option>
                  <option value="other">Other</option>
                </select>
                <span
                  id="status_error"
                  class="error_select"
                  style="color: red"
                ></span>
              </div>
            </div>
            <div class="col-12 col-sm-6 pb-4">
              <label class="acs-label-1"
                >Post Code <span class="text-red">*</span></label
              >
              <div class="acs-input-wrapper">
                <!-- <i class="fas fa-vote-yea"></i> -->
                <input
                  type="number"
                  class="acs-input"
                  placeholder="Post Code"
                  id="post_code"
                  name="post_code"
                  min="1000"
                  max="9999"
                  required
                  oninput="limitLength(this)"
                  pattern="\d{4}"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 pb-4">
              <label class="acs-label-1"
                >Name Of School <span class="text-red">*</span></label
              >
              <div class="acs-input-wrapper">
                <!-- <i class="fas fa-graduation-cap"></i> -->
                <input
                  type="text"
                  class="acs-input"
                  placeholder="School Name"
                  id="school_name"
                  name="school_name"
                  required
                />
              </div>
            </div>
            <div class="col-12">
              <label class="acs-label-1"
                >Equity Group <span class="text-red">*</span></label
              >
              <div class="acs-checkbox-group">
                <label htmlFor="Indigenous" class="acs-label-1">
                  <input
                    type="checkbox"
                    name="identity"
                    id="Indigenous"
                    value="Indigenous"
                  />Indigenous</label
                >

                <label htmlFor="cald" class="acs-label-1">
                  <input
                    type="checkbox"
                    name="identity"
                    id="cald"
                    value="CALD (Culturally and Linguistically Diverse)"
                  />CALD (Culturally and Linguistically Diverse)</label
                >

                <label htmlFor="disability" class="acs-label-1">
                  <input
                    type="checkbox"
                    name="identity"
                    id="disability"
                    value="Disability"
                  />Disability</label
                >

                <label htmlFor="disability" class="acs-label-1">
                  <input
                    type="checkbox"
                    name="identity"
                    id="prefer_not_to_say"
                    value="Prefer not to say"
                  />Prefer not to say</label
                >
                <label htmlFor="disability" class="acs-label-1">
                  <input
                    type="checkbox"
                    name="identity"
                    id="none_of_the_above"
                    value="None of the above"
                  />None of the above</label
                >
              </div>

              <span
                id="group_error"
                class="error_select"
                style="color: red"
              ></span>
            </div>
          </div>

          <div class="row">
            <div class="col-12 mt-4 col-sm-6 pb-4">
              <label class="acs-label-1">Mobile Number</label>
              <div class="acs-input-wrapper">
                <!--  <i class="fa-solid fa-user"></i> -->
                <input
                  type="text"
                  class="acs-input"
                  placeholder="Enter Your Phone Number"
                  id="phone"
                  name="phone"
                  value="04"
                  oninput="formatPhoneNumber(this)"
                  maxlength="19"
                />
              </div>
              <div
                class="acs-validation-message"
                id="phoneError"
                style="display: none"
              >
                <small style="color: red; margin-top: 4px"
                  >Phone number must be in the format: 04 XXX XXX</small
                >
              </div>
            </div>

            <div class="col-12 mt-4 col-sm-6 pb-4">
              <label class="acs-label-1">Landline Number</label>
              <div class="acs-input-wrapper">
                <!--  <i class="fa-solid fa-user"></i> -->
                <input
                  type="text"
                  class="acs-input"
                  placeholder="Enter Your Phone Number"
                  id="lanphone"
                  name="land_phone"
                  oninput="formatLanPhoneNumber(this)"
                  maxlength="19"
                />
              </div>
              <div
                class="acs-validation-message"
                id="phoneLandError"
                style="display: none"
              >
                <small style="color: red; margin-top: 4px"
                  >Phone number must be in the format: (0X) XXXX XXXX</small
                >
              </div>
            </div>
          </div>
          <div class="row">
            <!--   <div class="col-12 mt_20">

                            @if (saasEnv('NOCAPTCHA_FOR_REG') == 'true')
                                @if (saasEnv('NOCAPTCHA_IS_INVISIBLE') == 'true')
                                    {!! NoCaptcha::display(['data-size' => 'invisible']) !!}
                                @else
                                    {!! NoCaptcha::display() !!}
                                @endif



                                @if ($errors->has('g-recaptcha-response'))
                                    <span class="text-danger"
                                        role="alert">{{ $errors->first('g-recaptcha-response') }}</span>s
                                @endif
                            @endif

                        </div> -->

            <div class="col-12 mt_20">
              @if (saasEnv('NOCAPTCHA_FOR_REG') == 'true' &&
              saasEnv('NOCAPTCHA_IS_INVISIBLE') == 'true')
              <button
                type="button"
                class="g-recaptcha theme_btn text-center w-100 disable_btn"
                disabled
                data-sitekey="{{ saasEnv('NOCAPTCHA_SITEKEY') }}"
                data-size="invisible"
                data-callback="onSubmit"
                class="theme_btn text-center w-100"
              >
                {{ __('common.Register') }}
              </button>

              <script
                src="https://www.google.com/recaptcha/api.js"
                async
                defer
              ></script>

              <script>
                function onSubmit(token) {
                  document.getElementById('regForm').submit()
                }
              </script>
              @else
              <div class="acs-button-wrapper">
                <button type="submit" class="acs-button-primary" id="submitBtn">
                  {{ __('common.Register') }}
                </button>
              </div>
              @endif
            </div>
          </div>
        </form>
        <p class="mb-0 mt-2 acs-label-1">
          You already have an account?
          <a class="acs-accent" href="{{ route('login') }}"
            >{{ __('common.Login') }}</a
          >
        </p>
      </section>
      <footer class="acs-footer">
        <p class="acs-label-1">Powered By</p>
        <div class="d-flex align-items-center gap-2">
          <!-----------------------------------------
            Engineers: 
            - I have only commented this block out to test what the logo looks like.
            - The 'src' will need to be re-instated.

          <img
            src="{{ getLogoImage(Settings('logo2')) }}"
            alt="Entersoft Academy"
            class="acs-footer-logo"
          />
          ------------------------------------------>
          <img
            src="./assets/EA-Logo.png"
            alt="Entersoft Academy"
            class="acs-footer-logo"
          />
        </div>
      </footer>
    </main>
    <script>
      function togglePasswordVisibility() {
        const passwordInput = document.getElementById('passwordInput')
        const passwordToggleIcon = document.getElementById('passwordToggleIcon')
        if (passwordInput.type === 'password') {
          passwordInput.type = 'text'
          passwordToggleIcon.classList.remove('bi-eye-slash')
          passwordToggleIcon.classList.add('bi-eye')
        } else {
          passwordInput.type = 'password'
          passwordToggleIcon.classList.remove('bi-eye')
          passwordToggleIcon.classList.add('bi-eye-slash')
        }
      }
    </script>
  </body>
  <script>
    function togglePassword() {
      let passwordInput = document.getElementById('password')
      let icon = event.target
      if (passwordInput.type === 'password') {
        passwordInput.type = 'text'
        icon.classList.remove('fa-eye')
        icon.classList.add('fa-eye-slash')
      } else {
        passwordInput.type = 'password'
        icon.classList.remove('fa-eye-slash')
        icon.classList.add('fa-eye')
      }
    }
  </script>
  <script>
    $(function () {
      $('#checkbox').click(function () {
        if ($(this).is(':checked')) {
          $('#submitBtn').removeClass('disable_btn')

          $('#submitBtn').removeAttr('disabled')
        } else {
          $('#submitBtn').addClass('disable_btn')

          $('#submitBtn').attr('disabled', 'disabled')
        }
      })
    })

    $(document).ready(function () {
      $('#regForm').submit(function (event) {
        let birth = $('#birth').val()

        let employment_status = $('#employment_status').val()

        let identity = $('#identity').val()

        let gender = $('#gender').val()

        console.log(birth)

        if (birth === '' || birth === null) {
          event.preventDefault() // Prevent form submission

          $('#birth_eroor').text('Please Select a Birth Years')
        } else {
          $('#birth_eroor').text('') // Clear error message
        }

        if (employment_status === '' || employment_status === null) {
          event.preventDefault() // Prevent form submission

          $('#status_error').text('Please Select a Employment Status')
        } else {
          $('#status_eroor').text('') // Clear error message
        }

        if (gender === '' || gender === null) {
          event.preventDefault() // Prevent form submission

          $('#gender_error').text('Please Select a Gender')
        } else {
          $('#gender_error').text('') // Clear error message
        }

        if (identity === '' || identity === null) {
          event.preventDefault() // Prevent form submission

          $('#group_error').text('Please Select a Equity Group')
        } else {
          $('#group_error').text('') // Clear error message
        }
      })
    })
  </script>

  <script>
    function formatPhoneNumber(input) {
      let value = input.value.replace(/\D/g, '') // Remove all non-numeric characters

      // Ensure it starts with "04"
      if (!value.startsWith('04')) {
        value = '04'
      }

      // Limit to 10 digits max
      if (value.length > 10) {
        value = value.slice(0, 10)
      }

      // Format as "04XX XXX XXX"
      let formattedNumber = value.replace(
        /(\d{4})(\d{3})?(\d{3})?/,
        function (_, p1, p2, p3) {
          return p1 + (p2 ? ' ' + p2 : '') + (p3 ? ' ' + p3 : '')
        }
      )

      input.value = formattedNumber

      // Show error if number is incomplete
      document.getElementById('phoneError').style.display =
        value.length === 10 ? 'none' : 'block'
    }
    function formatLanPhoneNumber(input) {
      let value = input.value.replace(/\D/g, '') // Remove all non-numeric characters

      // Ensure it starts with "0X" (0 followed by another digit)
      if (!/^0\d/.test(value)) {
        value = '0'
      }

      // Limit to 10 digits
      value = value.slice(0, 10)

      // Format as "(0X) XXXX XXXX"
      let formattedNumber = value.replace(
        /(\d{2})(\d{4})?(\d{4})?/,
        function (_, p1, p2, p3) {
          return `(${p1})` + (p2 ? ` ${p2}` : '') + (p3 ? ` ${p3}` : '')
        }
      )

      input.value = formattedNumber

      // Show error if number is incomplete
      document.getElementById('phoneLandError').style.display =
        value.length === 10 ? 'none' : 'block'
    }

    $(document).ready(function () {
      $('#prefer_not_to_say').click(function () {
        var status = $(this).val()

        if ($(this).is(':checked')) {
          $('#Indigenous').prop('checked', false)
          $('#cald').prop('checked', false)
          $('#disability').prop('checked', false)
        }
      })
      $('#Indigenous').click(function () {
        var status = $(this).val()

        if ($(this).is(':checked')) {
          $('#prefer_not_to_say').prop('checked', false)
        }
      })
      $('#cald').click(function () {
        var status = $(this).val()

        if ($(this).is(':checked')) {
          $('#prefer_not_to_say').prop('checked', false)
        }
      })
      $('#disability').click(function () {
        var status = $(this).val()

        if ($(this).is(':checked')) {
          $('#prefer_not_to_say').prop('checked', false)
        }
      })
    })
  </script>
  <script>
    function togglePassword() {
      let passwordInput = document.getElementById('password')
      let icon = event.target
      if (passwordInput.type === 'password') {
        passwordInput.type = 'text'
        icon.classList.remove('fa-eye')
        icon.classList.add('fa-eye-slash')
      } else {
        passwordInput.type = 'password'
        icon.classList.remove('fa-eye-slash')
        icon.classList.add('fa-eye')
      }
    }
  </script>
  <script>
    function limitLength(input) {
      if (input.value.length > 4) {
        input.value = input.value.slice(0, 4) // Trim input to 4 digits
      }
    }
    $(document).ready(function () {
      $('#prefer_not_to_say').click(function () {
        var status = $(this).val()

        if ($(this).is(':checked')) {
          $('#Indigenous').prop('checked', false)
          $('#cald').prop('checked', false)
          $('#disability').prop('checked', false)
          $('#none_of_the_above').prop('checked', false)
        }
      })
      $('#Indigenous').click(function () {
        var status = $(this).val()

        if ($(this).is(':checked')) {
          $('#prefer_not_to_say').prop('checked', false)
        }
      })
      $('#cald').click(function () {
        var status = $(this).val()

        if ($(this).is(':checked')) {
          $('#prefer_not_to_say').prop('checked', false)
        }
      })
      $('#disability').click(function () {
        var status = $(this).val()

        if ($(this).is(':checked')) {
          $('#prefer_not_to_say').prop('checked', false)
        }
      })
      $('#none_of_the_above').click(function () {
        var status = $(this).val()

        if ($(this).is(':checked')) {
          $('#prefer_not_to_say').prop('checked', false)
        }
      })
    })
    $(document).ready(function () {
      $('#none_of_the_above').click(function () {
        var status = $(this).val()

        if ($(this).is(':checked')) {
          $('#Indigenous').prop('checked', false)
          $('#cald').prop('checked', false)
          $('#disability').prop('checked', false)
          $('#prefer_not_to_say').prop('checked', false)
        }
      })
      $('#Indigenous').click(function () {
        var status = $(this).val()

        if ($(this).is(':checked')) {
          $('#none_of_the_above').prop('checked', false)
        }
      })
      $('#cald').click(function () {
        var status = $(this).val()

        if ($(this).is(':checked')) {
          $('#none_of_the_above').prop('checked', false)
        }
      })
      $('#disability').click(function () {
        var status = $(this).val()

        if ($(this).is(':checked')) {
          $('#none_of_the_above').prop('checked', false)
        }
      })
      $('#prefer_not_to_say').click(function () {
        var status = $(this).val()

        if ($(this).is(':checked')) {
          $('#none_of_the_above').prop('checked', false)
        }
      })
    })
  </script>
  <script>
    function togglePassword() {
      let passwordInput = document.getElementById('password')
      passwordInput.type =
        passwordInput.type === 'password' ? 'text' : 'password'
    }

    function validatePassword() {
      let password = document.getElementById('password').value
      let errorMessageWrapper = document.getElementById('passwordErrorWrapper')
      let errorMessage = document.getElementById('passwordError')

      let hasUpperCase = /[A-Z]/.test(password)
      let hasLowerCase = /[a-z]/.test(password)
      let hasNumber = /\d/.test(password)
      let hasSpecialChar = /[!@#$%^&*(),.?":{}|<>]/.test(password) // Optional: check for symbols
      let isProperLength = password.length >= 8 && password.length <= 16

      let commonPasswords = [
        'password123',
        '123456',
        'qwerty',
        'letmein',
        'admin',
        'welcome',
      ]

      if (!hasUpperCase || !hasLowerCase || !hasNumber) {
        errorMessageWrapper.style.display = 'block'
        errorMessage.textContent =
          'Use a combination of uppercase, lowercase, and numbers.'
        return false
      }

      if (!isProperLength) {
        errorMessage.textContent = 'Password must be 8-16 characters long.'
        return false
      }

      if (commonPasswords.includes(password.toLowerCase())) {
        errorMessage.textContent = "Avoid common passwords like 'password123'."
        return false
      }

      // Optionally require a special character
      // if (!hasSpecialChar) {
      //     errorMessage.textContent = "Include at least one special character.";
      //     return false;
      // }

      errorMessage.textContent = ''
      return true
    }
  </script>
</html>
